.nav-item .dropdown-toggle {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.nav-item {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.6875rem;
  padding-left: 0.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
}
.navbar-expand-lg .navbar-nav .nav-link i {
  padding-left: 1.535rem;
}
#head{
  padding-top: 50px ;
}
.box {
  padding-top: 20px;
}
.box h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
}
.box h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  opacity: 87%;
  line-height: 19.2px;
  
}
.box img {
  position: relative;
  left: -13px;
}
.box .content {
  padding-top: 30px;
}
.box .content span {
  color: black;
  font-weight: 700;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}
.box .content p {
  color: black;
  opacity: 87%;
  font-size: 20px;
}
/* Start Footer */
#footer {
  background-color: rgba(0, 0, 0, 0.87);
  margin-top: 100px;
}
#footer .container{
  padding-top: 43px;
}
#footer .content h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
  Align: Left;
  

}
#footer .content p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 21.82px;
  color: #777;
  margin: 0;
  font-size: 16px;
}
#footer .content p img {
  position: relative;
  left: -20px;
}
#footer .content h6 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19.2px;
  padding-top: 25px;
  padding-bottom: 10px;
}
#footer .content ul {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0;
  list-style: none;
  padding-bottom: 50px;
}
#footer .content ul li {
  padding-left: 33px;
  color: white;
}
#footer .content ul li:first-child {
  padding-left: 0 ;
}
#footer .sec-c h5{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
}
#footer .sec-c p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 21.82px;
  color: #777;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
}
#footer .th-c h5{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  color: white;
}
#footer .th-c p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 21.82px;
  color: #777;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
}
#footer .ft-c p{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 21.82px;
  color: #777;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 16px;
}
#footer .ftr p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  line-height: 21.82px;
  color: #777;
  margin-bottom: 15px;
  font-size: 16px;
  
}



/* End Footer */